#sidebar {
    width: 300px;
    position: static;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 0;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: 0px;
    background: #0a22aa;
}


fieldset.no-bootstrap {
    min-width: 200px !important;
    padding: 0px !important;
    margin: 20px !important;
    border: 1px solid red !important;
  }


  
.bdge {
	height: 21px;
	background-color: orange;
	color: #fff;
	font-size: 11px;
	padding: 8px;
	border-radius: 4px;
	line-height: 3px
  }
  
.comments {
	text-decoration: underline;
	text-underline-position: under;
	cursor: pointer
}
  

  
#sidebar-nav {
	width: 300px;
}

.row {
    --bs-gutter-x: 0rem;
}

.pv-archiveText {
    height: 15px;
    overflow-y: auto
  }

.hidden { display:none; }

.scrollclass {
    height:700px;
    overflow-y: scroll;
}

.padding-left-daydiff{
    padding-left: 10px;
    font-size: 15px;
}

.font-size-review-grade-content {
    font-size: 18px;
}